.main-container {
    width: 425px;
    height: 100vh;
    background-image: url(./../../assets/images/main.png);
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: cover;
}