@font-face {
    font-family: "moon";
    src: url("../../assets/fonts/Typo_MoonFlowerM.ttf") format("opentype");
}

@font-face {
    font-family: "cindy";
    src: url("../../assets/fonts/Asia신디나루M.ttf") format("opentype");
}

@font-face {
    font-family: "noto";
    src: url("../../assets/fonts/NotoSansKR-Bold.ttf") format("opentype");
}
  
  

.main-container {
    width: 430px;
    height: 100vh;
    background-image: url(https://i.pinimg.com/564x/ef/04/44/ef0444c4bdaf36bb8d178b34e5a37065.jpg);
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.play-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    width: 50px;
    height: 50px;
    margin-left: 80%;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: 'moon';
    animation: fadein 5s ease 3s;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    margin-top: 15%;
}

.talk-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    animation: fadein 5s ease 3s;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
}

.wrap-container {
    position: relative;
    height: 270px;
}
/* .wrap-container p {
    width: 280px;
    position: absolute;
    top: 52%;
    left: 48%;
    transform: translate( -50%, -50% );
    color: #837156;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height : 1.6;
    letter-spacing : -1px;
} */

.talk-content{
    width: 260px;
    position: absolute;
    top: 52%;
    left: 48%;
    transform: translate( -50%, -50% );
    color: #837156;
    font-family: 'noto';
    font-weight: 500;
    font-size: 15px;
    line-height : 1.6;
    letter-spacing : -1px;
}

.talk-box {
    position: absolute;
    top: 52%;
    left: 48%;
    transform: translate( -50%, -50% );
}
.choice-box {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 100%;
    margin-left: 60px;
    animation: fadein2 9s ease 9s;
    -webkit-animation: fadein2 9s; /* Safari and Chrome */
}
.choice-list {
    width: 50px;
    position: absolute;
    z-index: 3;
    top: 4%;
    bottom: 90%;
    margin-left: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadein2 9s ease 9s;
    -webkit-animation: fadein2 9s; /* Safari and Chrome */
}

.choice-list p {
    padding: 4px 0;
    font-family: 'cindy';
    color: #73693a;
    z-index: 3;
}

.word-box {
    position: relative;
    display: flex;
    justify-content: center;
}

.line{
    border-radius: 10px;
    background-color: #FFCE00;
    width: 46px;
    height: 8px;
    position: absolute;
    bottom: 20%;
    z-index: -1;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein2 {
    0% {
        opacity:0;
    }
    70%{
        opacity:0;
    }
    80% {
        opacity:1;
    }
}